// Bourbon + Neat

// Some settings (http://thoughtbot.github.io/neat-docs/latest/)
$visual-grid: true;
$grid-columns: 12;
$visual-grid-color: chocolate !default;

// Import
@import 'bourbon/bourbon';
@import 'bitters/base';
@import 'neat/neat';
